@{
    ViewBag.Title = "Cliente";
}
<br />
@Html.ActionLink("Voltar", "Index", "Home", null, new { @class = "btn btn-outline-secondary" })
@Html.ActionLink("Cadastrar Cliente", "Novo", null ,new { @class = "btn btn-outline-primary" })
<p></p>

<div id="divclientes">
    @Html.Partial("_ListaClientes")
</div>
