@{
    ViewBag.Title = "Cidade";
}

<div class="modal fade" tabindex="-1" role="dialog" id="meumodal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<br />
<div class="form-row form-inline">

    @Html.ActionLink("Voltar", "Index", "Home", null, new { @class = "btn btn-outline-secondary col-md-1" })
    <div class="col-md-auto"></div>
    @Html.ActionLink("Cadastrar Cidade", "Novo", null, new { @class = "btn btn-outline-primary col-md-2" })
    <div class="col-md-5"></div>
    @*<div class="col-md-auto"> implementação antiga de pesquisa
            @using (Html.BeginForm())
            {
                @Html.TextBox("txtBusca", null, new { @class = "form-control col-auto" });
                <input type="submit" value="Pesquisar" class="btn btn-outline-dark col-auto" />
            }
        </div>*@
</div>

<div id="divcidades">
    @Html.Partial("_ListaCidades")
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#tabelacidade').dataTable({
                "language": {
                    "sEmptyTable": "Nenhum registro encontrado",
                    "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                    "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLengthMenu": "_MENU_ resultados por página",
                    "sLoadingRecords": "Carregando...",
                    "sProcessing": "Processando...",
                    "sZeroRecords": "Nenhum registro encontrado",
                    "sSearch": "Pesquisar",
                    "oPaginate": {
                        "sNext": "Próximo",
                        "sPrevious": "Anterior",
                        "sFirst": "Primeiro",
                        "sLast": "Último"
                    },
                    "oAria": {
                        "sSortAscending": ": Ordenar colunas de forma ascendente",
                        "sSortDescending": ": Ordenar colunas de forma descendente"
                    }
                }
            });
        });

        $(document).ready(function () {
            $('#meumodal').modal();
        });
    </script>
    @*<script>
            $(function () {
                $('.visualizar').click(function () {
                    var id = $(this).attr('data-id');
                    $('#modal').load("visualizar?id=" + id, function () {
                        $('#modal').modal();
                    })
                })
            })
        </script>*@
}


