@{
    ViewBag.Title = "Cidade";
}
<div class="modal fade" id="divmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"></div>
<br />
<div class="form-row form-inline">
    @Html.ActionLink("Voltar", "Index", "Home", null, new { @class = "btn btn-outline-secondary" })
    @Html.ActionLink("Cadastrar Cidade", "Novo", null, new { @class = "btn btn-outline-primary" })
</div>

<div id="divcidades">
    @Html.Partial("_ListaCidades")
</div>

@section scripts{
    <script>
        $(function () {
            $(".visualizar").click(function () {
                var id = $(this).attr("data-id");
                $("#divmodal").load("Visualizar?id=" + id, function () {
                    $("#divmodal").modal();
                })
            });
        })

        $(function () {
            $(".editar").click(function () {
                var id = $(this).attr("data-id");
                $("#divmodal").load("Editar?id=" + id, function () {
                    $("#divmodal").modal();
                })
            });
        })

        $(function () {
            $(".excluir").click(function () {
                var id = $(this).attr("data-id");
                $("#divmodal").load("Excluir?id=" + id, function () {
                    $("#divmodal").modal();
                })
            });
        })

        $(document).ready(function () {
            $('#tabelacidade').dataTable({
                "language": {
                    "sEmptyTable": "Nenhum registro encontrado",
                    "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                    "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLengthMenu": "_MENU_ resultados por página",
                    "sLoadingRecords": "Carregando...",
                    "sProcessing": "Processando...",
                    "sZeroRecords": "Nenhum registro encontrado",
                    "sSearch": "Pesquisar",
                    "oPaginate": {
                        "sNext": "Próximo",
                        "sPrevious": "Anterior",
                        "sFirst": "Primeiro",
                        "sLast": "Último"
                    },
                    "oAria": {
                        "sSortAscending": ": Ordenar colunas de forma ascendente",
                        "sSortDescending": ": Ordenar colunas de forma descendente"
                    }
                }
            });
        });
    </script>
}

